@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  background: #000;
  height: 200vh;
}

.font-cyberpunk {
  font-family: 'Orbitron', sans-serif;
}

img {
  display: block;
}

nav {
  box-shadow: 0 0 10px #0ff0fc, 0 0 20px #0ff0fc;
}

a {
  text-shadow: 0 0 5px #f40, 0 0 10px #f40;
}

a:hover {
  color: #ffea00;
  text-shadow: 0 0 5px #ffea00, 0 0 10px #ffea00;
}
